/* add css module styles here (optional) */

.tooltip {
  position: absolute;
  color: #000;
  z-index: 1000;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  height: 70px;
  line-height: 1.5em;
  width: 400px;
  max-width: 170px;
  padding: 10px;
  background-color: #FFF7D7;
  color: #000;
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 33px -4px rgba(0,0,0,0.41);
  -moz-box-shadow: 10px 10px 33px -4px rgba(0,0,0,0.41);
  box-shadow: 10px 10px 33px -4px rgba(0,0,0,0.41);
}

.tooltipDefault {
  transform: translate(calc(-50% - 18.5px), calc(-100% - 50px));
}

.tooltipDefault::after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 37px solid transparent;
	border-top-color: #fff7d7;
	border-bottom: 0;
	border-right: 0;
	margin-left: -18.5px;
	margin-bottom: -37px;
}

.tooltipBottom {
  transform: translate(calc(-50% - 18.5px), 37px);
}


.tooltipBottom::after {
  content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 37px solid transparent;
	border-bottom-color: #fff7d7;
	border-top: 0;
	border-right: 0;
	margin-left: -18.5px;
	margin-top: -37px;
}


.tooltipRight {
  transform: translate(37px, 0);
}

.tooltipRight::after {
  content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 37px solid transparent;
	border-right-color: #fff7d7;
	border-top: 0;
	border-left: 0;
	margin-left: -37px ;
}

.tooltipImageWrapper .img {
  width: 100%;
}
.tooltipImageWrapper .h5 {
  width: 100%;
  height: 20px;
}
.tooltip text, .tooltipRight {
  margin: 0.2rem;
}

.tooltip h5 {
  margin: 0 5px;
}

.tooltip p {
  margin: 0 5px;
}

.tooltip a {
  text-decoration: none;
  color: initial;
}

.tooltip:hover {
  border-radius: 6px;
  -webkit-box-shadow: 10px 10px 33px -4px rgba(155,0,0,0.41);
  -moz-box-shadow: 10px 10px 33px -4px rgba(155,0,0,0.41);
  box-shadow: 10px 10px 33px -4px rgba(155,0,0,0.41);
}

.tooltip .link {
  text-align: right;
  font-weight: 800;
  color:blue;
  text-decoration: underline; 
  margin-top: 2px;
  font-size: 10px;
}


/* responsive */

@media only screen and (max-width: 480px) {
  .tooltip {
    max-width: 130px;
  }

  .tooltip h5 {
    font-size: 13px;
  }

  .tooltip p{
    font-size: 11px;
  }
}

